<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
      <listener class-name="utilities.Listeners"/>
    </listeners>
  <test thread-count="1" name="Test">
    <classes>
      <class name="testcases.automationpracticetestcases"/> 
      <class name="testcases.automationpracticealert"/> 
  <!--    <class name="testcases.Datepicker"/>
      <class name="testcases.Doubleclick"/>
      <class name="testcases.Iframe"/>
      <class name="testcases.Selectcountry"/> 
      <class name="testcases.WebTable"/>  
      <class name="testcases.AuthenticationPopup"/>   --> 
    </classes>
  </test> 
</suite> <!-- Suite -->
